{{- if and .Values.debugMode .Values.legacyDebugPod }}
apiVersion: v1
kind: Pod
metadata:
  name: {{ include "skills-agent.fullname" . }}-debug
  labels:
    {{- include "skills-agent.labels" . | nindent 4 }}
    skills-agent/skill: {{ .Values.skillName | quote }}
    skills-agent/agent: {{ .Values.agent | quote }}
    skills-agent/mode: "debug"
spec:
  restartPolicy: Never
  {{- include "skills-agent.podSpecBase" . | nindent 2 }}
{{- end }}
